/.vscode
/DOM-selectors.txt
/ShoppingList
/advanced-looping-exercise.js
/advanced-looping-solution.js
/exercise1.js
/exercise1.txt
/exercise2.txt
/exercise3-SOLUTIONS.js
/exercise3.txt
/exercise4.js
/exercise5.js
/exercise5.txt
/exercise6.js
/exercise6.txt
/exercise7.txt
/exerciseES7-SOLUTIONS.js
/exerciseES7.js
/exerciseES8-SOLUTIONS.js
/exerciseES8.js
/script.js